<!-- Symbol In The Page -->
<p class="dipch fs-2"> <span class="dip">dip</span>ch</p>

<!-- Making A Diversion Class Page In Which The Code Of The Page Will Be There -->
<div class="Page" fxLayoutAlign="center center"> 
  
  <!-- Creating A Diversion Login Form In Which Every Information Regarding Login Form Will Be There -->  
  <!-- <mat-card fxFlex="105"> -->
    <!-- Creating Heading Of The Page  -->
    
    <!-- Creating A Diverion Class Which Will Ask For User Email Id & Password -->
    <div class="login-form">
      <div class="heading">
      <p class="fs-1 text-center">Create Account</p>
      </div> 
    <form fxLayoutAlign="stretch" fxLayout="column" class="form">
      <label for="email" class="email-info">Email</label>
      <mat-form-field>
    <input matInput placeholder="josh@gmail.com" id="email">
        </mat-form-field>
        <br>
        <label for="password" class="email-info">Password</label>
        <mat-form-field>
          <input matInput type="password" placeholder="********" id="password">
        </mat-form-field>

        <!-- Creating Sign-Up Button Here -->
        <div class="d-grid gap-2">
          <button class="btn btn-primary" id="sign-up" type="submit">Sign Up</button>
        </div>
        
        <!-- Footer -->
        <div class="footer">
        <a href="#" id="account">Already Have An Account</a>
        <a href="#" id="login"> <strong>Log In Here </strong></a>
        </div>

      </form>

    <!-- </mat-card> -->
   </div>
</div>